@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Ubuntu', sans-serif;
}
nav ul{
    display: flex;
    list-style: none;
    height: 50px;
    background-color: black;
    color:white;
    align-items: center;

}
nav ul li{
    padding: 0 12px;
}
.logo img{
    width: 44px;
    padding: 0 12px;
}
.logo{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3em;
}
.container{
    min-height: 75vh;
    /* height: 60vh; */
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 70%;
    margin: 10px auto;
    border-radius: 12px;
    padding: 20px;
    background-image: url("bg.jpg");
    background-size: cover;
}
.bottom{
    position: sticky;
    height: 90px;
    background-color: black;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}
#myprogressbar{
    width: 80vw;
    cursor: pointer;
}
.songitemcontainer{
    margin-top: 20px;
}
.icons{
    margin: 10px 0px;
}
.icons{
    cursor: pointer;
}
.songitem{
    height: 40px;
    display: flex;
    background-color: white;
    color: black;
    
    margin: 12px 0;
    justify-content: space-between;
    border-radius: 34px;
    align-items: center;
    
}
.songitem img{
    width: 35px;
    margin: 0 15px;
    border-radius: 34px;
}
.timestamp{
    padding: 0px 10px;

}
.timestamp i{
    cursor: pointer;
}
.songinfo{
    position: absolute;
    left: 9.5vw;
}
.songinfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
    font-family: 'Varela Round', sans-serif;
}
.time-container{
    display: flex;
}
.count{
    font-weight: bold;
    font-size: larger;
    
}


@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }

    #myprogressbar{
        width: 60vw;
    }
    .bottom{
        height: 110px;
    }
   
  }